body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: #c0387c;
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 10%;
    padding-left: 2%;
}

.half-width img{
    width: 60%;
   }
   .link-button{
    background-color:rgb(206, 29, 147);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
  